---
import Layout from "@layouts/Layout.astro"
const data = Astro.locals
const isLogin = !!data.user?.id;
---

<Layout>
    <div>
        {isLogin ? 
            <div>
                <div>
                    {data.user?.username}
                </div>
            </div>
            :
            <div>
                <div>
                    Guest
                </div>
            </div>
        }
    </div>
    <div>
        {isLogin ?
            <div>
                <form method="post" action="/profile/logout">
                    <button type="submit">Log Out</button>
                </form>
            </div>
            :
            <div>
                <form method="post" action="/profile/login">
                    <button type="submit">Log In</button>
                </form>
                <form method="post" action="/profile/signup">
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        }
    </div>
</Layout>