---
import Layout from "@layouts/Layout.astro"
const data = Astro.locals
const isLogin = !!data.user?.id;
---

<Layout>
    <div class="container">
        {isLogin ?
        (
            <span>
                {data.user?.username}
            </span>
            <div class="form-container">
                <form method="post" action="/profile/logout">
                    <button type="submit">Log Out</button>
                </form>
            </div>
        )
        :
        (
            <span>
                Guest
            </span>    
            <div class="form-container">
                <form method="post" action="/profile/login">
                    <button type="submit">Log In</button>
                </form>
                <form method="post" action="/profile/signup">
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        )
        }
    </div>
</Layout>