---
import Layout from "@layouts/Layout.astro";

const url = new URL(Astro.request.url);
const errorMessage = url.searchParams.get("error");

const data = Astro.locals
const isLogin = !!data.user?.id;
if (isLogin){
    return Astro.redirect("/")
}
---

<Layout>
    <div class="form-container">
        <h1>Sign in</h1>
        <form method="post" action="/api/login">
            <label for="username">Username</label>
            <input id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <button>Continue</button>
        </form>
    </div>
    {errorMessage && <p class="error-message">{errorMessage}</p>}
</Layout>