.card-container{
    height: 180px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-wrap: pretty;

    border-radius: 16px;

    background-color: blue;
}

.zoe-chat{
    padding: 5px;
    background-image: url("/bg/zoe_chat.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    justify-content:  flex-start;
    align-items: flex-end;

    font-size: 28px;
}