:root {
    --color-primary: #25FBEF;
    --color--primary-accent: #1489FF;
    --color-secondary: #74B513;
    --color-secondary-accent: #FFD60C;
    --color-error: #FF4E3A;
}

html.dark {
    --color-primary: #12A0B4;
    --color--primary-accent: #063A7B;
    --color-secondary: #335705;
    --color-secondary-accent: #B78403;
    --color-error: #7B1412;
}

/* Base: mobile */
*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: center;
  justify-content: flex-start; 
  text-align: center;

  background-image: url("/bg/cloud&sky.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

main {
  flex: 1;
  padding: 1rem;

}

footer {
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/* Tablet */
@media (min-width: 640px) {
  body {
    font-size: 17px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

/* Desktop grande */
@media (min-width: 1280px) {
  body {
    font-size: 20px;
  }
}
