---
import Layout from '@layouts/Layout.astro';
import RoomSelector from '@components/chat/room-selector';
import "@styles/main_menu.css"

const data = Astro.locals
const isLogin = !!data.user?.id;
if (!isLogin){
    return Astro.redirect("/profile")
}
---
<Layout>
    <div class="container">
        <div class="menu-header">
            <h1>ZOE</h1>
            <h3>El sol siempre vuelve a salir</h3>
        </div>
        <RoomSelector className="menu-row menu-main" client:visible/>
        <div class="menu-row menu-secondary">
            <div class="secondary-card left">
                El Sendero de la Vida
            </div>
            <div id="match-button" class="secondary-card right">
                Nuestro Match
            </div>
        </div>
    </div>
</Layout>

<script>
    function handleClickMatch(){
        window.location.href = "/zoe/match"
    }

    document.addEventListener("DOMContentLoaded",() => {
        const matchButton = document.getElementById("match-button")

        if (matchButton) matchButton.addEventListener("click",handleClickMatch)
    })
</script>