---
import Layout from '@layouts/Layout.astro';
import RoomSelector from '@components/chat/room-selector';
import "@styles/main_menu.css"

const data = Astro.locals
const isLogin = !!data.user?.id;
---
<Layout>
    <div class="container">
        <div class="menu-header">
            <h1>ZOE</h1>
            <h3>El sol siempre vuelve a salir</h3>
        </div>
        <RoomSelector className="menu-row menu-main" client:visible/>
        <div class="menu-row menu-secondary">
            <div>
                El Sendero de la Vida
            </div>
            <div>
                Nuestro Match
            </div>
        </div>
    </div>
</Layout>