---
import IconPerson from "./icons/icon-person.astro"
---

<div id="profile-button">
    <IconPerson />
</div>

<script>
    function handleClick(){
        window.location.href = "/profile"
    }

    document.addEventListener("DOMContentLoaded", () => {
        const profileButton = document.getElementById("profile-button")

        if (profileButton) profileButton.addEventListener("click",handleClick);
    })
</script>