---
import ProfileButton from "@components/profile-button.astro"

import IconSetting from "@components/icons/icon-settings.astro"
import IconHearth from "@components/icons/icon-hearth.astro"
import "@styles/global.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>ZOE</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<footer>
			<ProfileButton />
			<div>
				<IconHearth />
			</div>
			<div>
				<IconSetting />
			</div>
		</footer>
	</body>
</html>