---
import "@styles/global.css"
import AsideNav from "@components/aside-nav.astro"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Chat Index</title>
	</head>
	<body>
		<AsideNav />
		<main>
			<slot />
		</main>
	</body>
</html>