---
import ProfileNav from "@components/profile-nav.astro"
import "@styles/global.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>ZOE</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<footer>
			<ProfileNav />
			<div>
				ZOE icono
			</div>
			<div>
				Ajustes
			</div>
		</footer>
	</body>
</html>